body{
    background-color: azure;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.otp-container{
    display: flex;
    align-items: center;
    background-color: white;
}
.digit-group input {
    width: 40px;
    height: 50px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: black;
    margin: 0 2px;
  }
  .digit-group .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
  }
  
  .prompt {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
  }
  body{
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .main-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .container .col-md-4{
    background-color: white;
  }
  .img-container{
    padding-right: 0;
    background-color: white;
  }
  .form-container{
    width: 100%;
  }
  .mobile-cont{
    display: none;
  }
  .verify{
    color: white;
    font-weight: bolder;
    border-radius: 1rem;
    background-color: red;
    border: 2px solid white;

  }
  .para{
    color: white;
    font-weight: bolder;
    background-color: #154afa;
    border-radius: 1rem;
    padding: 6px;
    font-size: 9px;
    border: 2px solid white;
  }
  .resend{
    color: blue;
    text-decoration: none;
  }
  .my-btn{
    background-color: red;
    color: white;
    font-weight: bolder;
    border-radius: 1rem;
    margin-bottom: 9.5rem;
    border: 2px solid white;
  }
  #verify1:focus, #verify2:focus, .my-btn:focus{
    background-color: red;
    color: white;
    border: 2px solid white;
  }

  @media screen and (max-width: 768px) {
    .mobile-cont{
      display:block;
    }
    /* styles for screens with a maximum width of 768px */
      body {
        background-image: url("./otp_verify.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

    .container-fluid{
      display:none;
    }
    
    .title-button{
      position: absolute;
      top: 0rem;
    }
    
    .resend{
      color: white;

    }
    .digit-group input {
      width: 38px;
      height: 42px;
    }
    .para{
      font-size: 8px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }